@import 'includes/imports';
@import 'includes/variables';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: rgba(254, 250, 235, 0.6);
}

input:not([type = "radio"]):not([type = "checkbox"]) {
    border: 1px solid $form-border-color;
    padding: 12px 2px;
    font-size: 16px;
    width: 100%;

    &::placeholder {
        opacity: 0.3;
    }
}

.tl-Card {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 12px;
}

@import 'pages/index';
@import 'pages/Questionaire';