<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/style.css">
        <title>Traveler App - Chat with Henk</title>
    </head>

    <body>
        <main class="tl-Chat">
            <header class="tl-Chat__header">
                <a href="/match_profile/1">
                    Back to Henk
                </a>
            </header>

            <section class="tl-Chat__content-wrapper">
                <div class="tl-Chat__content">
                    <div class="tl-Chat__message-wrapper tl-Chat__message-them">
                        <img src="/img/available-traveler.jpg" class="tl-Chat__circle-wrapper" alt="Profile Image Henk">
                        <div class="tl-Chat__text-wrapper">
                            <p>Hello there</p>
                        </div>
                    </div>
                    <div class="tl-Chat__message-wrapper tl-Chat__message-me">
                        <img src="/img/available-traveler.jpg" class="tl-Chat__circle-wrapper" alt="Profile Image Henk">
                        <div class="tl-Chat__text-wrapper">
                            <p>Hello</p>
                        </div>
                    </div>
                    <div class="tl-Chat__message-wrapper tl-Chat__message-them">
                        <img src="/img/available-traveler.jpg" class="tl-Chat__circle-wrapper" alt="Profile Image Henk">
                        <div class="tl-Chat__text-wrapper">
                            <p>Hello there</p>
                        </div>
                    </div>
                    <div class="tl-Chat__message-wrapper tl-Chat__message-me">
                        <img src="/img/available-traveler.jpg" class="tl-Chat__circle-wrapper" alt="Profile Image Henk">
                        <div class="tl-Chat__text-wrapper">
                            <p>Hello</p>
                        </div>
                    </div>
                    <div class="tl-Chat__message-wrapper tl-Chat__message-them">
                        <img src="/img/available-traveler.jpg" class="tl-Chat__circle-wrapper" alt="Profile Image Henk">
                        <div class="tl-Chat__text-wrapper">
                            <p>Hello there</p>
                        </div>
                    </div>
                    <div class="tl-Chat__message-wrapper tl-Chat__message-me">
                        <img src="/img/available-traveler.jpg" class="tl-Chat__circle-wrapper" alt="Profile Image Henk">
                        <div class="tl-Chat__text-wrapper">
                            <p>Hello</p>
                        </div>
                    </div>
                    <div class="tl-Chat__message-wrapper tl-Chat__message-them">
                        <img src="/img/available-traveler.jpg" class="tl-Chat__circle-wrapper" alt="Profile Image Henk">
                        <div class="tl-Chat__text-wrapper">
                            <p>Hello there</p>
                        </div>
                    </div>
                    <div class="tl-Chat__message-wrapper tl-Chat__message-me">
                        <img src="/img/available-traveler.jpg" class="tl-Chat__circle-wrapper" alt="Profile Image Henk">
                        <div class="tl-Chat__text-wrapper">
                            <p>Hello</p>
                        </div>
                    </div>
                    <div class="tl-Chat__message-wrapper tl-Chat__message-them">
                        <img src="/img/available-traveler.jpg" class="tl-Chat__circle-wrapper" alt="Profile Image Henk">
                        <div class="tl-Chat__text-wrapper">
                            <p>Hello there</p>
                        </div>
                    </div>
                    <div class="tl-Chat__message-wrapper tl-Chat__message-me">
                        <img src="/img/available-traveler.jpg" class="tl-Chat__circle-wrapper" alt="Profile Image Henk">
                        <div class="tl-Chat__text-wrapper">
                            <p>Hello</p>
                        </div>
                    </div>
                    <div class="tl-Chat__message-wrapper tl-Chat__message-them">
                        <img src="/img/available-traveler.jpg" class="tl-Chat__circle-wrapper" alt="Profile Image Henk">
                        <div class="tl-Chat__text-wrapper">
                            <p>Hello there</p>
                        </div>
                    </div>
                    <div class="tl-Chat__message-wrapper tl-Chat__message-me">
                        <img src="/img/available-traveler.jpg" class="tl-Chat__circle-wrapper" alt="Profile Image Henk">
                        <div class="tl-Chat__text-wrapper">
                            <p>Hello</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="tl-Chat__footer">
                <form action="/send_message/1" class="tl-Chat__chat-form" method="POST">
                    <textarea
                        name="message"
                        id="message"
                        class="tl_Chat__chat-input"
                    ></textarea>
                    <button type="submit" class="tl-Chat__chat-send-button"></button>
                </form>
            </section>
        </main>
    </body>
</html>