<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/style.css">
        <title>Traveler App - Henk Smits</title>
    </head>
    <body>
        <header class="tl-PageHeader">
            <ol>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <label class="tl-NavigationToggle">
                        <img src="/img/man-user.svg" alt="menu-toggle">
                        <input type="checkbox" name="menu-toggle" id="menu-toggle">
                    </label>
                </li>
            </ol>
        </header>

        <nav class="tl-Navigation" id="tl-Navigation">
            <ol>
                <li>
                    <a href="/matches_overview">Matches overview</a>
                </li>
                <li>
                    <a href="/chats">Chats</a>
                </li>
                <li>
                    <a href="/my_profile">My profile</a>
                </li>
                <li>
                    <a href="#">Log out</a>
                </li>
            </ol>
        </nav>

        <main class="tl-MatchProfilePage">
            <section class="tl-Card tl-Card--MatchProfileCard">
                <header>
                    <h1>Henk Smits (31)</h1>
                </header>

                <img src="/img/available-traveler.jpg" alt="Matched traveler user">
                <p class="tl-ProfileDescription">Henk loves to travel, just like you, otherwise you wouldn't be here, right?</p>

                <ol class="tl-FullProfileInformation">
                    <li class="tl-Field">
                        <span class="tl-Field__title">Finds this most important in a relation</span>
                        <span class="tl-Field__value">Trust</span>
                    </li>
                    <li class="tl-Field divider-bottom">
                        <span class="tl-Field__title">Wants to travel with you as soon as possible</span>
                        <span class="tl-Field__value">Yes</span>
                    </li>
                    <li class="tl-Field">
                        <span class="tl-Field__title">Has traveled to</span>
                        <span class="tl-Field__value">Dubai, Paris, Morocco, France</span>
                    </li>
                    <li class="tl-Field">
                        <span class="tl-Field__title">Favorite holiday destination visisted</span>
                        <span class="tl-Field__value">Paris</span>
                    </li>
                    <li class="tl-Field">
                        <span class="tl-Field__title">Favorite holiday format</span>
                        <span class="tl-Field__value">Roundtrips</span>
                    </li>
                    <li class="tl-Field">
                        <span class="tl-Field__title">Plans holidays ahead</span>
                        <span class="tl-Field__value">Sometimes</span>
                    </li>
                    <li class="tl-Field">
                        <span class="tl-Field__title">Likes to hike</span>
                        <span class="tl-Field__value">Yes</span>
                    </li>
                    <li class="tl-Field">
                        <span class="tl-Field__title">Likes to travel trans-atlantic more, than within the continent</span>
                        <span class="tl-Field__value">Yes</span>
                    </li>
                    <li class="tl-Field">
                        <span class="tl-Field__title">Destinations Henk wants to travel to in the near future</span>
                        <span class="tl-Field__value">New-Zealand, China</span>
                    </li>
                    <li class="tl-Field">
                        <span class="tl-Field__title">Has visited this much holiday destinations</span>
                        <span class="tl-Field__value">20</span>
                    </li>
                    <li class="tl-Field divider-bottom">
                        <span class="tl-Field__title">Favorite travel time (in weeks)</span>
                        <span class="tl-Field__value">3</span>
                    </li>
                    <li class="tl-Field">
                        <span class="tl-Field__title">Wants to marry</span>
                        <span class="tl-Field__value">Yes</span>
                    </li>
                    <li class="tl-Field">
                        <span class="tl-Field__title">Foremost relationship motivation</span>
                        <span class="tl-Field__value">Being able to travel the world with that someone</span>
                    </li>
                    <li class="tl-Field">
                        <span class="tl-Field__title">Wants to, or does already, have children</span>
                        <span class="tl-Field__value">Yes, I have them</span>
                    </li>
                    <li class="tl-Field">
                        <span class="tl-Field__title">Drinks alcohol</span>
                        <span class="tl-Field__value">Yes, often</span>
                    </li>
                    <li class="tl-Field">
                        <span class="tl-Field__title">Smokes</span>
                        <span class="tl-Field__value">No</span>
                    </li>
                    <li class="tl-Field">
                        <span class="tl-Field__title">Likes to be in nature</span>
                        <span class="tl-Field__value">Yes</span>
                    </li>
                    <li class="tl-Field">
                        <span class="tl-Field__title">Favorite music genre</span>
                        <span class="tl-Field__value">Hardstyle</span>
                    </li>
                    <li class="tl-Field">
                        <span class="tl-Field__title">Yearly earns</span>
                        <span class="tl-Field__value">50K+</span>
                    </li>
                    <li class="tl-Field">
                        <span class="tl-Field__title">Lives in</span>
                        <span class="tl-Field__value">Rotterdam, the Netherlands</span>
                    </li>
                    <li class="tl-Field">
                        <span class="tl-Field__title">Job title</span>
                        <span class="tl-Field__value">Architect</span>
                    </li>
                    <li class="tl-Field">
                        <span class="tl-Field__title">Length (in cm's)</span>
                        <span class="tl-Field__value">183</span>
                    </li>
                </ol>

                <footer>
                    <a href="/chat/1" class="tl-CTA-Button">
                        Chat with Henk
                    </a>
                </footer>
            </section>
        </main>
        <script src="/index.js"></script>
    </body>
</html>