<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/style.css">
        <title>Traveler App - My Profile / Edit</title>
    </head>

    <body>
        <header class="tl-PageHeader">
            <ol>
                <li>
                    <a href="/">
                        Home
                    </a>
                </li>
                <li>
                    <label class="tl-NavigationToggle">
                        <img src="/img/man-user.svg" alt="menu-toggle">
                        <input type="checkbox" name="menu-toggle" id="menu-toggle">
                    </label>
                </li>
            </ol>
        </header>

        <nav class="tl-Navigation" id="tl-Navigation">
            <ol>
                <li>
                    <a href="/matches_overview">Matches overview</a>
                </li>
                <li>
                    <a href="/chats">Chats overview</a>
                </li>
                <li>
                    <form action="/log_out" method="POST">
                        <button type="submit">Log out</button>
                    </form>
                </li>
            </ol>
        </nav>

        <main class="tl-MyProfilePage">
            <h1>Welcome Henk!</h1>
            <span>Here you can adjust your profile.</span>
            <form action="/save_edited_profile" method="POST" class="tl-Card tl-Card--MyProfileFormCard" enctype="multipart/form-data">
                <fieldset class="tl-MyProfilePage__subject">
                    <legend>Travel</legend>

                    <div class="tl-MyProfilePage__question">
                        <label>
                            <span>To which destinations have you traveled already?</span>
                            <small>Please separate with comma's.</small>
                            <input
                                type="text"
                                name="hasTraveledTo"
                                required
                                placeholder="Dubai, Paris, Morocco, etc."
                            >
                        </label>
                    </div>

                    <div class="tl-MyProfilePage__question">
                        <label>
                            <span>What is your favourite holiday destination, you have visited?</span>
                            <input
                                type="text"
                                name="favouriteHolidayDestination"
                                required
                                placeholder="Paris"
                            >
                        </label>
                    </div>

                    <div class="tl-MyProfilePage__question">
                        <label for="favouriteHolidayTypesRoundtrip">What is, or are, your favourite holiday type(s)?</label>
                        <label for="favouriteHolidayTypesRoundtrip">
                            <span>Roundtrips</span>
                            <input
                                type="checkbox"
                                name="favouriteHolidayTypes"
                                id="favouriteHolidayTypesRoundtrip"
                                value="Roundtrip"
                                required
                            >
                        </label>

                        <label for="favouriteHolidayTypesFamily">
                            <span>Travelling with family</span>
                            <input
                                type="checkbox"
                                name="favouriteHolidayTypes"
                                id="favouriteHolidayTypesFamily"
                                value="Family"
                                required
                            >
                        </label>

                        <label for="favouriteHolidayTypesBike">
                            <span>Bike holidays</span>
                            <input
                                type="checkbox"
                                name="favouriteHolidayTypes"
                                id="favouriteHolidayTypesBike"
                                value="Bike"
                                required
                            >
                        </label>

                        <label for="favouriteHolidayTypesHike">
                            <span>Hike holidays</span>
                            <input
                                type="checkbox"
                                name="favouriteHolidayTypes"
                                id="favouriteHolidayTypesHike"
                                value="Hike"
                                required
                            >
                        </label>


                        <label for="favouriteHolidayTypesBackPacking">
                            <span>Backpacking</span>
                            <input
                                type="checkbox"
                                name="favouriteHolidayTypes"
                                id="favouriteHolidayTypesBackPacking"
                                value="Backpacking"
                                required
                            >
                        </label>

                        <label for="favouriteHolidayTypesBeach">
                            <span>Beach / Sun</span>
                            <input
                                type="checkbox"
                                name="favouriteHolidayTypes"
                                id="favouriteHolidayTypesBeach"
                                value="Backpacking"
                            >
                        </label>

                        <label for="favouriteHolidayTypesWinter">
                            <span>Winter Sports</span>
                            <input
                                type="checkbox"
                                name="favouriteHolidayTypes"
                                id="favouriteHolidayTypesWinter"
                                value="Winter"
                            >
                        </label>
                    </div>

                    <div class="tl-MyProfilePage__question">
                        <label>
                            <span>Do you plan your holidays far ahead?</span>
                            <select name="plansHolidaysAhead" required>
                                <option value="Often">Often</option>
                                <option value="Sometimes">Sometimes</option>
                                <option value="No">No</option>
                            </select>
                        </label>
                    </div>

                    <div class="tl-MyProfilePage__question">
                        <label>
                            <span>Do you like to hike?</span>
                            <select name="likesToHike" required>
                                <option value="Yes">Yes</option>
                                <option value="Sometimes">Sometimes</option>
                                <option value="No">No</option>
                            </select>
                        </label>
                    </div>

                    <div class="tl-MyProfilePage__question">
                        <label>
                            <span>Do you like to travel inter-continental more, than within the continent?</span>
                            <select name="prefersInterContinental" required>
                                <option value="Yes">Yes</option>
                                <option value="Sometimes">Sometimes</option>
                                <option value="No">No</option>
                            </select>
                        </label>
                    </div>

                    <div class="tl-MyProfilePage__question">
                        <label>
                            <span>To which destinations do you want to travel to, in the near future?</span>
                            <small>Please separate with comma's.</small>
                            <input
                                type="text"
                                name="wantsToVisitSoon"
                                required
                                placeholder="New-Zealand, China, etc."
                            >
                        </label>
                    </div>

                    <div class="tl-MyProfilePage__question">
                        <label>
                            <span>How much holiday destinations have you visited?</span>
                            <input
                                type="number"
                                name="hasVisitedThisMuchDestinations"
                                min="0"
                                required
                                placeholder="20"
                            >
                        </label>
                    </div>

                    <div class="tl-MyProfilePage__question">
                        <label>
                            <span>What is your favourite overall travel time (in weeks)?</span>
                            <input
                                type="number"
                                name="favouriteOverallTravelTime"
                                min="0"
                                required
                                placeholder="3"
                            >
                        </label>
                    </div>
                </fieldset>

                <fieldset class="tl-MyProfilePage__subject">
                    <legend>Personal information</legend>

                    <div class="tl-MyProfilePage__question">
                        <label>
                            <span>Do you want to marry, eventually?</span>
                            <select name="wantsToMarry" required>
                                <option value="Yes">Yes</option>
                                <option value="Maybe">Maybe</option>
                                <option value="No">No</option>
                            </select>
                        </label>
                    </div>

                    <div class="tl-MyProfilePage__question">
                        <label>
                            <span>What is the foremost reason that you want a relationship?</span>
                            <input
                                type="text"
                                name="foremostRelationshipMotivation"
                                required
                                placeholder="Being able to travel the world with that someone"
                            >
                        </label>
                    </div>

                    <div class="tl-MyProfilePage__question">
                        <label>
                            <span>Do you want, or already have, children?</span>
                            <select name="wantsToOrAlreadyHasChildren" required>
                                <option value="Yes, I have them">Yes, I have them</option>
                                <option value="Yes, I want them">Yes, I want them</option>
                                <option value="Maybe">Maybe</option>
                                <option value="No">No</option>
                            </select>
                        </label>
                    </div>

                    <div class="tl-MyProfilePage__question">
                        <label>
                            <span>Do you drink alcohol?</span>
                            <select name="drinksAlcohol" required>
                                <option value="Yes, often">Yes, often</option>
                                <option value="Yes, sometimes">Yes, sometimes</option>
                                <option value="No">No</option>
                            </select>
                        </label>
                    </div>

                    <div class="tl-MyProfilePage__question">
                        <label>
                            <span>Do you smoke?</span>
                            <select name="smokes" required>
                                <option value="Yes, often">Yes, often</option>
                                <option value="Yes, sometimes">Yes, sometimes</option>
                                <option value="No">No</option>
                            </select>
                        </label>
                    </div>

                    <div class="tl-MyProfilePage__question">
                        <label>
                            <span>Do you like to be in nature?</span>
                            <select name="likesToBeInNature" required>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                        </label>
                    </div>

                    <div class="tl-MyProfilePage__question">
                        <label>
                            <span>What kind of music genre, do you listen to most often?</span>
                            <input
                                type="text"
                                name="favouriteMusicGenre"
                                required
                                placeholder="Hardstyle"
                            >
                        </label>
                    </div>

                    <div class="tl-MyProfilePage__question">
                        <label>
                            <span>How much do you earn, on a yearly basis?</span>
                            <select name="yearlyEarns">
                                <option value="Less than 25K">Less than 25K</option>
                                <option value="25k-50k">25k-50k</option>
                                <option value="More than 50k">More than 50k</option>
                            </select>
                        </label>
                    </div>

                    <div class="tl-MyProfilePage__question">
                        <label>
                            <span>Where do you live?</span>
                            <input
                                type="text"
                                name="livesIn"
                                required
                                placeholder="Rotterdam, the Netherlands"
                            >
                        </label>
                    </div>

                    <div class="tl-MyProfilePage__question">
                        <label>
                            <span>What is your job title?</span>
                            <input
                                type="text"
                                name="jobTitle"
                                required
                                placeholder="Architect"
                            >
                        </label>
                    </div>

                    <div class="tl-MyProfilePage__question">
                        <label>
                            <span>What is your length (in cm's)?</span>
                            <input
                                type="number"
                                name="lengthInCm"
                                required
                                placeholder="183"
                            >
                        </label>
                    </div>

                    <div class="tl-MyProfilePage__question">
                        <label>
                            <span>Please write a description, that you want to be shown on your profile!</span>
                            <textarea
                                name="description"
                                required
                            ></textarea>
                        </label>
                    </div>


                    <div class="tl-MyProfilePage__question">
                        <label>
                            <span>Upload a new profile image of yourself:</span>
                            <small>This can be either a .png, .jpg or .jpeg file.</small>
                            <input
                                type="file"
                                name="profileImage"
                                accept=".png, .jpg, .jpeg"
                                required
                            >
                        </label>
                    </div>
                </fieldset>

                <fieldset class="tl-MyProfilePage__subject">
                    <legend>Looking for, in a match</legend>

                    <div class="tl-MyProfilePage__question">
                        <label>
                            <span>Is it necessary for your matches to like nature?</span>
                            <select name="yearlyEarns">
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                        </label>
                    </div>

                    <div class="tl-MyProfilePage__question">
                        <label>
                            <span>What do you find the most important in a relationship?</span>
                            <input
                                type="text"
                                name="mostImportantInRelationShip"
                                required
                                placeholder="Trust"
                            >
                        </label>
                    </div>

                    <div class="tl-MyProfilePage__question">
                        <label>
                            <span>What is the maximum distance (in km's) your match may be away from you?</span>
                            <input
                                type="number"
                                name="maxMatchDistance"
                                min="0"
                                required
                                placeholder="80"
                            >
                        </label>
                    </div>

                    <div class="tl-MyProfilePage__question">
                        <label>
                            <span>What are the minimum and maximum ages you want to include in your matchresults?</span>
                            <input
                                type="number"
                                name="minSearchAge"
                                min="0"
                                required
                                placeholder="Minimum search age"
                            >

                            <input
                                type="number"
                                name="maxSearchAge"
                                min="0"
                                required
                                placeholder="Maximum search age"
                            >
                        </label>
                    </div>

                    <div class="tl-MyProfilePage__question">
                        <label>
                            <span>Do you want to travel as soon as possible with your match?</span>
                            <select name="wantsToTravelQuickly">
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                        </label>
                    </div>
                </fieldset>

                <button
                    type="button"
                    class="tl-CTA-Button tl-CTA-Button--text tl-CTA-Button--danger"
                    id="tl-DeleteProfileButton"
                >
                    Delete account
                </button>

                <footer class="tl-MyProfilePage__form-footer">
                    <a href="/my_profile" class="tl-CTA-Button tl-CTA-Button--light">Cancel</a>
                    <button type="submit" class="tl-CTA-Button">Save</button>
                </footer>
            </form>
        </main>
        <script src="/index.js"></script>
    </body>
</html>