<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/style.css">
        <title>Traveler App - Questionaire</title>
    </head>
    <body>
        <main class="tl-QuestionairePage">
            <header>
                <h1>Fill out these questions, in order to use Traveler</h1>
                <small>These questions will help us find the perfect matches, based on your answers.</small>
                <small>Warning: Please don't leave the page while in progress!</small>
            </header>

            <section>
                <form action="/questionaire_save/1" class="tl-Questionaire" method="POST" enctype="multipart/form-data">
                    <fieldset class="tl-Questionaire__Subject">
                        <legend>Travel</legend>

                        <div class="tl-Questionaire-Question">
                            <label>
                                <span>To which destinations have you traveled already?</span>
                                <small>Please separate with comma's.</small>
                                <input
                                    type="text"
                                    name="hasTraveledTo"
                                    required
                                    placeholder="Dubai, Paris, Morocco, etc."
                                >
                            </label>
                        </div>

                        <div class="tl-Questionaire-Question">
                            <label>
                                <span>What is your favourite holiday destination, you have visited?</span>
                                <input
                                    type="text"
                                    name="favouriteHolidayDestination"
                                    required
                                    placeholder="Paris"
                                >
                            </label>
                        </div>

                        <div class="tl-Questionaire-Question">
                            <label for="favouriteHolidayTypesRoundtrip">What is, or are, your favourite holiday type?</label>
                            <label for="favouriteHolidayTypesRoundtrip">
                                <span>Roundtrips</span>
                                <input
                                    type="radio"
                                    name="favouriteHolidayTypes"
                                    id="favouriteHolidayTypesRoundtrip"
                                    value="Roundtrip"
                                >
                            </label>

                            <label for="favouriteHolidayTypesFamily">
                                <span>Travelling with family</span>
                                <input
                                    type="radio"
                                    name="favouriteHolidayTypes"
                                    id="favouriteHolidayTypesFamily"
                                    value="Family"
                                >
                            </label>

                            <label for="favouriteHolidayTypesBike">
                                <span>Bike holidays</span>
                                <input
                                    type="radio"
                                    name="favouriteHolidayTypes"
                                    id="favouriteHolidayTypesBike"
                                    value="Bike"
                                >
                            </label>

                            <label for="favouriteHolidayTypes_hike_holidays">
                                <span>Hike holidays</span>
                                <input
                                    type="radio"
                                    name="favouriteHolidayTypes"
                                    id="favouriteHolidayTypes_hike_holidays"
                                    value="Hike"
                                >
                            </label>


                            <label for="favouriteHolidayTypes_backpacking">
                                <span>Backpacking</span>
                                <input
                                    type="radio"
                                    name="favouriteHolidayTypes"
                                    id="favouriteHolidayTypes_backpacking"
                                    value="Backpacking"
                                >
                            </label>


                        </div>

                        <div class="tl-Questionaire-Question">
                            <label for="plans_ahead_often">Do you plan your holidays far ahead?</label>
                            <label for="plans_ahead_often">
                                <span>Often</span>
                                <input
                                    type="radio"
                                    name="plans_ahead"
                                    id="plans_ahead_often"
                                    value="Often"
                                    required
                                >
                            </label>

                            <label for="plans_ahead_sometimes">
                                <span>Sometimes</span>
                                <input
                                    type="radio"
                                    name="plans_ahead"
                                    id="plans_ahead_sometimes"
                                    value="Sometimes"
                                    required
                                >
                            </label>

                            <label for="plans_ahead_no">
                                <span>No</span>
                                <input
                                    type="radio"
                                    name="plans_ahead"
                                    id="plans_ahead_no"
                                    value="No"
                                    required
                                >
                            </label>
                        </div>

                        <div class="tl-Questionaire-Question">
                            <label for="likes_to_hike_yes">Do you like to hike?</label>
                            <label for="likes_to_hike_yes">
                                <span>Yes</span>
                                <input
                                    type="radio"
                                    name="likes_to_hike"
                                    id="likes_to_hike_yes"
                                    value="yes"
                                    required
                                >
                            </label>

                            <label for="likes_to_hike_sometimes">
                                <span>Sometimes</span>
                                <input
                                    type="radio"
                                    name="likes_to_hike"
                                    id="likes_to_hike_sometimes"
                                    value="Sometimes"
                                    required
                                >
                            </label>

                            <label for="likes_to_hike_no">
                                <span>No</span>
                                <input
                                    type="radio"
                                    name="likes_to_hike"
                                    id="likes_to_hike_no"
                                    value="No"
                                    required
                                >
                            </label>
                        </div>

                        <div class="tl-Questionaire-Question">
                            <label for="likes_trans_atlantic_yes">Do you like to travel trans_atlantic more, than within the continent?</label>
                            <label for="likes_trans_atlantic_yes">
                                <span>Yes</span>
                                <input
                                    type="radio"
                                    name="likes_trans_atlantic"
                                    id="likes_trans_atlantic_yes"
                                    value="yes"
                                    required
                                >
                            </label>

                            <label for="likes_trans_atlantic_sometimes">
                                <span>Sometimes</span>
                                <input
                                    type="radio"
                                    name="likes_trans_atlantic"
                                    id="likes_trans_atlantic_sometimes"
                                    value="Sometimes"
                                    required
                                >
                            </label>

                            <label for="likes_trans_atlantic_no">
                                <span>No</span>
                                <input
                                    type="radio"
                                    name="likes_trans_atlantic"
                                    id="likes_trans_atlantic_no"
                                    value="No"
                                    required
                                >
                            </label>
                        </div>

                        <div class="tl-Questionaire-Question">
                            <label for="where_do_you_want_to_go">
                                <span>To which destinations do you want to travel to, in the near future?</span>
                                <small>Please separate with comma's.</small>
                                <input
                                    type="text"
                                    name="where_do_you_want_to_go"
                                    id="where_do_you_want_to_go"
                                    required
                                    placeholder="New_Zealand, China, etc."
                                >
                            </label>
                        </div>

                        <div class="tl-Questionaire-Question">
                            <label for="amount_of_trips_made">
                                <span>How much holiday destinations have you visited?</span>
                                <input
                                    type="number"
                                    name="amount_of_trips_made"
                                    id="amount_of_trips_made"
                                    min="0"
                                    required
                                    placeholder="20"
                                >
                            </label>
                        </div>

                        <div class="tl-Questionaire-Question">
                            <label for="favourite_travel_time">
                                <span>What is your favourite overall travel time (in weeks)?</span>
                                <input
                                    type="number"
                                    name="favourite_travel_time"
                                    id="favourite_travel_time"
                                    min="0"
                                    required
                                    placeholder="3"
                                >
                            </label>
                        </div>
                    </fieldset>

                    <fieldset class="tl-Questionaire__Subject">
                        <legend>Personal information</legend>
                        <div class="tl-Questionaire-Question">
                            <label for="wants_to_marry_yes">Do you want to marry, eventually?</label>
                            <label for="wants_to_marry_yes">
                                <span>Yes</span>
                                <input
                                    type="radio"
                                    name="wants_to_marry"
                                    id="wants_to_marry_yes"
                                    value="yes"
                                    required
                                >
                            </label>

                            <label for="wants_to_marry_maybe">
                                <span>Maybe</span>
                                <input
                                    type="radio"
                                    name="wants_to_marry"
                                    id="wants_to_marry_maybe"
                                    value="Maybe"
                                    required
                                >
                            </label>

                            <label for="wants_to_marry_no">
                                <span>No</span>
                                <input
                                    type="radio"
                                    name="wants_to_marry"
                                    id="wants_to_marry_no"
                                    value="No"
                                    required
                                >
                            </label>
                        </div>

                        <div class="tl-Questionaire-Question">
                            <label for="relationship_reason">
                                <span>What is the foremost reason that you want a relationship?</span>
                                <input
                                    type="text"
                                    name="relationship_reason"
                                    id="relationship_reason"
                                    required
                                    placeholder="Being able to travel the world with that someone"
                                >
                            </label>
                        </div>

                        <div class="tl-Questionaire-Question">
                            <label for="children_yes_have_them">Do you want, or already have, children?</label>
                            <label for="children_yes_have_them">
                                <span>Yes, I have them</span>
                                <input
                                    type="radio"
                                    name="children"
                                    id="children_yes_have_them"
                                    value="Have them"
                                    required
                                >
                            </label>

                            <label for="children_yes_want_them">
                                <span>Yes, I want them</span>
                                <input
                                    type="radio"
                                    name="children"
                                    id="children_yes_want_them"
                                    value="Want them"
                                    required
                                >
                            </label>

                            <label for="children_maybe">
                                <span>Maybe</span>
                                <input
                                    type="radio"
                                    name="children"
                                    id="children_maybe"
                                    value="Maybe"
                                    required
                                >
                            </label>

                            <label for="children_no">
                                <span>No</span>
                                <input
                                    type="radio"
                                    name="children"
                                    id="children_no"
                                    value="No"
                                    required
                                >
                            </label>
                        </div>

                        <div class="tl-Questionaire-Question">
                            <label for="drinks_alcohol_often">Do you drink alcohol?</label>
                            <label for="drinks_alcohol_often">
                                <span>Yes, often</span>
                                <input
                                    type="radio"
                                    name="drinks_alcohol"
                                    id="drinks_alcohol_often"
                                    value="Often"
                                    required
                                >
                            </label>

                            <label for="drinks_alcohol_sometimes">
                                <span>Yes, sometimes</span>
                                <input
                                    type="radio"
                                    name="drinks_alcohol"
                                    id="drinks_alcohol_sometimes"
                                    value="Sometimes"
                                    required
                                >
                            </label>

                            <label for="drinks_alcohol_no">
                                <span>No</span>
                                <input
                                    type="radio"
                                    name="drinks_alcohol"
                                    id="drinks_alcohol_no"
                                    value="No"
                                    required
                                >
                            </label>
                        </div>

                        <div class="tl-Questionaire-Question">
                            <label for="smokes_often">Do you smoke?</label>
                            <label for="smokes_often">
                                <span>Yes, often</span>
                                <input
                                    type="radio"
                                    name="smokes"
                                    id="smokes_often"
                                    value="Often"
                                    required
                                >
                            </label>

                            <label for="smokes_sometimes">
                                <span>Yes, sometimes</span>
                                <input
                                    type="radio"
                                    name="smokes"
                                    id="smokes_sometimes"
                                    value="Sometimes"
                                    required
                                >
                            </label>

                            <label for="smokes_no">
                                <span>No</span>
                                <input
                                    type="radio"
                                    name="smokes"
                                    id="smokes_no"
                                    value="No"
                                    required
                                >
                            </label>
                        </div>

                        <div class="tl-Questionaire-Question">
                            <label for="likes_nature_yes">Do you like to be in the nature?</label>
                            <label for="likes_nature_yes">
                                <span>Yes</span>
                                <input
                                    type="radio"
                                    name="likes_nature"
                                    id="likes_nature_yes"
                                    value="yes"
                                    required
                                >
                            </label>

                            <label for="likes_nature_no">
                                <span>No</span>
                                <input
                                    type="radio"
                                    name="likes_nature"
                                    id="likes_nature_no"
                                    value="No"
                                    required
                                >
                            </label>
                        </div>

                        <div class="tl-Questionaire-Question">
                            <label for="music_genre">
                                <span>What kind of music genre, do you listen to most often?</span>
                                <input
                                    type="text"
                                    name="music_genre"
                                    id="music_genre"
                                    required
                                    placeholder="Hardstyle"
                                >
                            </label>
                        </div>

                        <div class="tl-Questionaire-Question">
                            <label for="yearly_earns_less_than_25k">How much do you earn, on a yearly basis?</label>
                            <label for="yearly_earns_less_than_25k">
                                <span>Less than 25K</span>
                                <input
                                    type="radio"
                                    name="yearly_earns"
                                    id="yearly_earns_less_than_25k"
                                    value="Less than 25k"
                                    required
                                >
                            </label>

                            <label for="yearly_earns_25k_50k">
                                <span>25K_50K</span>
                                <input
                                    type="radio"
                                    name="yearly_earns"
                                    id="yearly_earns_25k_50k"
                                    value="25k_50k"
                                    required
                                >
                            </label>

                            <label for="yearly_earns_more_than_50k">
                                <span>More than 50K</span>
                                <input
                                    type="radio"
                                    name="yearly_earns"
                                    id="yearly_earns_more_than_50k"
                                    value="More than 50k"
                                    required
                                >
                            </label>
                        </div>

                        <div class="tl-Questionaire-Question">
                            <label for="birthdate">
                                <span>Enter your birthdate:</span>
                                <input
                                    type="date"
                                    name="birthdate"
                                    id="birthdate"
                                    min="1970_01_01"
                                    max="2000_01_01"
                                    required
                                    placeholder="19/03/1973"
                                >
                            </label>
                        </div>

                        <div class="tl-Questionaire-Question">
                            <label for="hometown">
                                <span>Where do you live?</span>
                                <input
                                    type="text"
                                    name="hometown"
                                    id="hometown"
                                    required
                                    placeholder="Rotterdam, the Netherlands"
                                >
                            </label>
                        </div>

                        <div class="tl-Questionaire-Question">
                            <label for="job_title">
                                <span>What is your job title?</span>
                                <input
                                    type="text"
                                    name="job_title"
                                    id="job_title"
                                    required
                                    placeholder="Architect"
                                >
                            </label>
                        </div>

                        <div class="tl-Questionaire-Question">
                            <label for="length">
                                <span>What is your length (in cm's)?</span>
                                <input
                                    type="number"
                                    name="length"
                                    id="length"
                                    required
                                    placeholder="183"
                                >
                            </label>
                        </div>

                        <div class="tl-Questionaire-Question">
                            <label for="profile_description">
                                <span>Please write a description, that you want to be shown on your profile, publicly!</span>
                                <textarea
                                    name="profile_description"
                                    id="profile_description"
                                    required
                                ></textarea>
                            </label>
                        </div>


                        <div class="tl-Questionaire-Question">
                            <label for="profile_image">
                                <span>Upload a profile image of yourself:</span>
                                <small>This can be either a .png, .jpg or .jpeg file.</small>
                                <input
                                    type="file"
                                    name="profile_image"
                                    id="profile_image"
                                    accept=".png, .jpg, .jpeg"
                                    required
                                >
                            </label>
                        </div>
                    </fieldset>

                    <fieldset class="tl-Questionaire__Subject">
                        <legend>Looking for, in a match</legend>
                        <div class="tl-Questionaire-Question">
                            <label for="match_likes_nature_yes">Is it necessary for your matches to like nature?</label>
                            <label for="match_likes_nature_yes">
                                <span>Yes</span>
                                <input
                                    type="radio"
                                    name="match_likes_nature"
                                    id="match_likes_nature_yes"
                                    value="yes"
                                    required
                                >
                            </label>

                            <label for="match_likes_nature_no">
                                <span>No</span>
                                <input
                                    type="radio"
                                    name="match_likes_nature"
                                    id="match_likes_nature_no"
                                    value="No"
                                    required
                                >
                            </label>
                        </div>

                        <div class="tl-Questionaire-Question">
                            <label for="most_important_in_relationship">
                                <span>What do you find the most important in a relationship?</span>
                                <input
                                    type="text"
                                    name="most_important_in_relationship"
                                    id="most_important_in_relationship"
                                    required
                                    placeholder="Trust"
                                >
                            </label>
                        </div>

                        <div class="tl-Questionaire-Question">
                            <label for="max_match_distance">
                                <span>What is the maximum distance (in km's) your match may be away from you?</span>
                                <input
                                    type="number"
                                    name="max_match_distance"
                                    id="max_match_distance"
                                    min="0"
                                    required
                                    placeholder="80"
                                >
                            </label>
                        </div>

                        <div class="tl-Questionaire-Question">
                            <label for="min_search_age">
                                <span>What are the minimum and <label for="max_search_age">maximum ages you want to include in your matchresults?</label></span>
                                <input
                                    type="number"
                                    name="min_search_age"
                                    id="min_search_age"
                                    min="0"
                                    required
                                    placeholder="Minimum search age"
                                >

                                <input
                                    type="number"
                                    name="max_search_age"
                                    id="max_search_age"
                                    min="0"
                                    required
                                    placeholder="Maximum search age"
                                >
                            </label>
                        </div>

                        <div class="tl-Questionaire-Question">
                            <label for="important_match_has_made_trips_yes">Is it important that your match has already made a lot (more than 5) of trips?</label>
                            <label for="important_match_has_made_trips_yes">
                                <span>Yes</span>
                                <input
                                    type="radio"
                                    name="important_match_has_made_trips"
                                    id="important_match_has_made_trips_yes"
                                    value="yes"
                                    required
                                >
                            </label>

                            <label for="important_match_has_made_trips_no">
                                <span>No</span>
                                <input
                                    type="radio"
                                    name="important_match_has_made_trips"
                                    id="important_match_has_made_trips_no"
                                    value="No"
                                    required
                                >
                            </label>
                        </div>

                        <div class="tl-Questionaire-Question">
                            <label for="wants_to_travel_fast_yes">Do you want to travel as soon as possible with your match?</label>
                            <label for="wants_to_travel_fast_yes">
                                <span>Yes</span>
                                <input
                                    type="radio"
                                    name="wants_to_travel_fast"
                                    id="wants_to_travel_fast_yes"
                                    value="yes"
                                    required
                                >
                            </label>

                            <label for="wants_to_travel_fast_no">
                                <span>No</span>
                                <input
                                    type="radio"
                                    name="wants_to_travel_fast"
                                    id="wants_to_travel_fast_no"
                                    value="No"
                                    required
                                >
                            </label>
                        </div>
                    </fieldset>
                    <button class="tl-CTA-Button" type="submit">Get started!</button>
                </form>
            </section>
        </main>
    </body>
</html>