@import '../includes/spacing';

.tl-ChatsOverviewPage {
    width: 100%;
    height: 100%;
    padding: 0 getSpacing(1);

    &__page-title {
        font-size: 130%;
        letter-spacing: 0.4px;
        margin: getSpacing(1) 0;
    }

    &__chats {
        display: flex;
        flex-direction: column;
    }

    &__chat {
        width: 100%;
        background-color: #fff;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        padding: getSpacing(0.5) getSpacing(1);
        display: flex;

        + .tl-ChatsOverviewPage__chat {
            margin-top: getSpacing(1);
        }
    }

    &__link-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        text-decoration: none;
        color: #000;
    }

    &__profile-image {
        height: getSpacing(5);
        width: getSpacing(5);
        border-radius: 50%;
    }

    &__profile-name {
        letter-spacing: 0.4px;
        margin-left: getSpacing(1);
        font-size: 110%;
    }

    &__last-message {
        position: relative;
        margin-top: getSpacing(1);
        width: 90%;
        line-height: 1.5;

        &--by-me,
        &--by-other {
            padding-left: 16px;

            &::before {
                display: inline-block;
                content: '';
                height: 12px;
                width: 12px;
                position: absolute;
                left: 0;
                top: 6px;
            }
        }

        &--by-me {
            &::before {
                background: url('localhost:8000/img/back-arrow.svg') no-repeat center;
                background-size: cover;
            }
        }

        &--by-other {
            &::before {
                background: url('localhost:8000/img/back-arrow.svg') no-repeat center;
                background-size: cover;
                transform: rotateY(180deg);
            }
        }
    }

    form {
        margin-top: getSpacing(1);
        display: inline-block;
    }

    &__delete-chat {
        padding: getSpacing(1.5);
        cursor: pointer;
        background: url('localhost:8000/img/rubbish-bin.svg') no-repeat center;
        background-size: cover;
        border: 0;
    }
}