@import '../includes/variables';
@import '../includes/spacing';

.tl-Chat {
    &__header {
        width: 100%;
        background-color: $chat-header-background-color;
        padding: getSpacing(1);
        display: flex;
        flex-direction: row;
        align-items: center;

        a {
            text-decoration: none;
            color: $chat-header-text-color;
        }
    }
}