@import '../includes/variables';

.tl-IndexPage {
    padding: 12px;

    .tl-Card {
        .tl-TitleSection {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin-bottom: 12px;

            h1 {
                width: 50%;
                text-align: center;
                font-size: 150%;
                letter-spacing: 0.7px;
            }

            img {
                max-width: 50%;
            }

            p {
                margin: 12px 0;
            }
        }

        .tl-BriefTravelerDisplays {
            display: flex;
            flex-wrap: wrap;

            h2 {
                margin-bottom: 12px;
            }

            .tl-BriefTravelerDisplay {
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;
                background-color: $brief-traveler-display-background-color;
                border-radius: 2px;
                padding: 6px;
                justify-content: space-between;

                img {
                    max-width: 20%;
                    border-radius: 50%;
                    min-height: 4em;
                }

                & + .tl-BriefTravelerDisplay {
                    margin-top: 12px;
                    padding-top: 12px;
                }
            }
        }
    }
}

.tl-SignUpForm {
    margin: 24px 0;

    h2 {
        font-size: 20px;
    }

    fieldset {
        border: 0;

        > legend {
            font-weight: 900;
            font-size: 105%;
            margin-bottom: 12px;
            padding-top: 24px;
        }

        input:not([type = "radio"]) {
            border: 1px solid $form-border-color;
            padding: 12px 2px;
            font-size: 16px;
            width: 100%;
        }
    }

    .tl-FormField {
        padding: 12px 0;
        border-bottom: 1px solid $form-border-color;

        &:first-of-type {
            border-top: 1px solid $form-border-color;
        }

        > label {
            display: block;
            color: $form-text-color;

            &:first-of-type {
                font-size: 14px;

                span {
                    display: block;
                    margin-bottom: 6px;
                    font-size: inherit;
                }
            }
        }
    }

    button {
        margin-top: 12px;
        margin: 12px 0 0;
        border: 0;
        background-color: $cta-background-color;
        padding: 6px 12px;
        cursor: pointer;
        font-size: 16px;
        border-radius: 2px;
        color: white;
        transition: 100ms ease-in-out background-color;

        &:hover {
            background-color: $cta-hover-background-color;
        }
    }
}