@import '../includes/variables';
@import '../includes/spacing';

.tl-IndexPage {
    padding: getSpacing(1);

    .tl-Card--TravelCard {
        display: block;
        background: url('localhost:8000/img/postcard.jpg') center no-repeat;
        background-size: cover;
        font-family: $cursive-font;

        .tl-TitleSection {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin-bottom: getSpacing(1);
            color: white;

            h1 {
                width: 50%;
                font-size: 150%;
                letter-spacing: 0.7px;
            }

            p {
                margin: getSpacing(1) 0;
            }
        }

        .tl-BriefTravelerDisplays {
            display: flex;
            flex-wrap: wrap;

            h2 {
                margin-bottom: getSpacing(1);
                width: 100%;
                color: white;
                text-align: right;
            }

            .tl-BriefTravelerDisplay {
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;
                border-radius: 2px;
                padding: getSpacing(0.5);
                justify-content: space-between;
                background-color: rgba(255, 255, 255, 0.8);
                width: 100%;

                header {
                    width: 30%;

                    h3 {
                        margin-bottom: getSpacing(1);
                    }

                    img {
                        max-width: getSpacing(5);
                        border-radius: 50%;
                        min-height: getSpacing(5);
                    }
                }

                p {
                    margin-top: getSpacing(3);
                    width: 70%;
                }


                & + .tl-BriefTravelerDisplay {
                    margin-top: getSpacing(1);
                    padding-top: getSpacing(1);
                }
            }
        }
    }
}

.tl-SignUpForm {
    margin: getSpacing(2) 0;

    h2 {
        font-size: 20px;
    }

    fieldset {
        border: 0;

        > legend {
            font-weight: 900;
            font-size: 105%;
            margin-bottom: getSpacing(1);
            padding-top: getSpacing(2);
        }
    }

    small {
        display: inline-block;
        margin-top: getSpacing(1);

        > button {
            font-size: inherit;
            font-family: 'Open Sans', sans-serif;
            border: 0;
            background: none;
        }
    }

    .tl-FormField {
        padding: getSpacing(1) 0;
        border-bottom: 1px solid $form-border-color;

        &:first-of-type {
            border-top: 1px solid $form-border-color;
        }

        > label {
            display: block;
            color: $form-text-color;

            &:first-of-type {
                font-size: 14px;

                span {
                    display: block;
                    margin-bottom: getSpacing(0.5);
                    font-size: inherit;
                }

                span + small {
                    margin-top: 0;
                    margin-bottom: getSpacing(0.5);
                }
            }
        }
    }

    .tl-CTA-Button {
        margin-top: getSpacing(1);
    }
}