@import '../includes/variables';
@import '../includes/spacing';

.tl-MatchesOverviewPage {
    padding: getSpacing(1);

    .tl-TitleSection {
        color: black;
        background-color: rgba(255, 255, 255, 0.8);
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        padding: getSpacing(0.5);
        margin-bottom: getSpacing(2);

        h1 {
            width: 100%;
            font-size: 150%;
            letter-spacing: 0.7px;
        }

        p {
            margin: getSpacing(1) 0;
        }
    }

    .tl-Card--BriefTravelerInformation {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        border-radius: 2px;
        padding: getSpacing(0.5);
        justify-content: space-between;
        background-color: rgba(255, 255, 255, 0.8);
        width: 100%;
        position: relative;
        cursor: pointer;

        header {
            width: 30%;

            h2 {
                font-size: 120%;
                margin-bottom: getSpacing(1);
            }

            img {
                max-width: getSpacing(5);
                border-radius: 50%;
                min-height: getSpacing(5);
            }
        }

        p {
            margin: getSpacing(3) 0 0;
            width: 70%;
        }

        .tl-MainTravelInformation {
            margin: getSpacing(1) 0 getSpacing(3);

            h3 {
                font-size: 105%;
                font-weight: 800;
                letter-spacing: 0.4px;
                margin-bottom: getSpacing(0.5);
            }

            ol {
                list-style: none;

                li {
                    display: flex;
                    justify-content: space-between;

                    .tl-FieldTitle {
                        font-weight: bold;
                        color: $form-text-color;
                    }
                }
            }
        }

        footer {
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
}