@import '../includes/spacing';
@import '../includes/variables';

.tl-MyProfilePage {
    padding: getSpacing(1);

    .tl-Card--MyProfileCard {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        border-radius: 2px;
        padding: getSpacing(0.5);
        justify-content: space-between;
        background-color: rgba(255, 255, 255, 0.8);
        width: 100%;
        position: relative;

        header {
            width: 100%;
            margin-bottom: getSpacing(2);

            h1 {
                font-size: 120%;
            }
        }

        p {
            margin-bottom: getSpacing(2);
        }

        .tl-FullProfileInformation {
            list-style: none;
            width: 100%;
            margin-top: getSpacing(1);

            .tl-Field {
                display: flex;
                justify-content: space-between;

                &__title {
                    font-weight: bold;
                    color: $form-text-color;
                    font-size: 100%;
                    max-width: 50%;
                    align-self: flex-start;
                }

                &__value {
                    vertical-align: bottom;
                    max-width: 40%;
                    text-align: right;
                    align-self: center;
                }

                & + .tl-Field {
                    margin-top: getSpacing(0.5);
                    padding-top: getSpacing(0.5);
                    border-top: 1px solid $form-border-color;
                }
            }
        }

        footer {
            width: 100%;
            margin-top: getSpacing(1);

            .tl-CTA-Button {
                width: 100%;
                text-align: center;
            }
        }
    }

    .tl-Card--MyProfileFormCard {
        margin-top: getSpacing(1);
        background-color: rgba(255, 255, 255, 0.8);
        position: relative;

        legend,
        label,
        label > span {
            color: $form-text-color;
        }

        input,
        textarea {
            color: #000;
        }
    }

    &__subject {
        border: 0;

        > legend {
            font-weight: 900;
            font-size: 120%;
            margin-bottom: getSpacing(1);
        }

        & + .tl-MyProfilePage__subject {
            > legend {
                padding-top: 24px;
            }
        }
    }

    &__question {
        padding: getSpacing(1) 0;

        &:first-of-type {
            border-top: 1px solid $form-border-color;
        }

        > label {
            display: block;
            color: $form-text-color;

            &:first-of-type {
                span,
                small {
                    display: block;
                    margin-bottom: getSpacing(0.5);
                }
            }

            input + input,
            input + textarea {
                margin-top: getSpacing(0.5);
            }

            textarea {
                padding: getSpacing(0.5) getSpacing(0.25);
                resize: vertical;
                min-height: getSpacing(5);
            }
        }

        & + .tl-MyProfilePage__question {
            border-top: 1px solid $form-border-color;
        }
    }

    &__form-footer {
        display: flex;
        flex-direction: row;
        position: sticky;
        bottom: 0;
        left: $spacing-base;
        right: $spacing-base;
        max-width: calc(#{$spacing-max-width} - #{getSpacing(2)});
        margin: getSpacing(1) auto 0;

        .tl-CTA-Button {
            flex: 1;
            text-align: center;
        }
    }

    .tl-CTA-Button--danger {
        margin-bottom: getSpacing(1.5);
    }
}