@import '../includes/variables';

.tl-QuestionairePage {
    padding: 12px;

    > header {
        margin-bottom: 24px;
    }

    .tl-Questionaire {
        button {
            margin-top: 12px;
            margin: 12px 0 0;
            border: 0;
            background-color: $cta-background-color;
            padding: 6px 12px;
            cursor: pointer;
            font-size: 16px;
            border-radius: 2px;
            color: white;
            transition: 100ms ease-in-out background-color;

            &:hover {
                background-color: $cta-hover-background-color;
            }
        }

        &__Subject {
            border: 0;

            > legend {
                font-weight: 900;
                font-size: 120%;
                margin-bottom: 12px;
            }

            & + .tl-Questionaire__Subject {
                > legend {
                    padding-top: 24px;
                }
            }
        }
    }

    .tl-Questionaire-Question {
        padding: 12px 0;
        border-bottom: 1px solid $form-border-color;

        &:first-of-type {
            border-top: 1px solid $form-border-color;
        }

        > label {
            display: block;
            color: $form-text-color;

            &:first-of-type {
                span,
                small {
                    display: block;
                    margin-bottom: 6px;
                }
            }

            input + input {
                margin-top: 6px;
            }
        }
    }
}