@import '../includes/variables';
@import 'includes/spacing';

.tl-QuestionairePage {
    padding: getSpacing(1);

    > header {
        margin-bottom: getSpacing(2);
    }

    .tl-Questionaire {
        .tl-CTA-Button {
            margin-top: getSpacing(1);
        }

        &__Subject {
            border: 0;

            > legend {
                font-weight: 900;
                font-size: 120%;
                margin-bottom: getSpacing(1);
            }

            & + .tl-Questionaire__Subject {
                > legend {
                    padding-top: 24px;
                }
            }
        }
    }

    .tl-Questionaire-Question {
        padding: getSpacing(1) 0;

        &:first-of-type {
            border-top: 1px solid $form-border-color;
        }

        > label {
            display: block;
            color: $form-text-color;

            &:first-of-type {
                span,
                small {
                    display: block;
                    margin-bottom: getSpacing(0.5);
                }
            }

            input + input,
            input + textarea {
                margin-top: getSpacing(0.5);
            }

            textarea {
                padding: getSpacing(0.5) getSpacing(0.25);
                resize: vertical;
                min-height: getSpacing(3);
            }
        }

        & + .tl-Questionaire-Question {
            border-top: 1px solid $form-border-color;
        }
    }
}