$color-light-grey: #E0E0E0;
$color-grey: #9E9E9E;
$color-lighter-green: #00E676;
$color-green: #00C853;
$color-lighter-blue: #2979FF;
$color-blue: #2962FF;
$color-crimson-red: crimson;

$cursive-font: 'Indie Flower', cursive;

$form-border-color: $color-grey;
$form-text-color: $color-grey;

$cta-background-color: $color-blue;
$cta-hover-background-color: $color-lighter-blue;

$input-valid-border-color: $color-green;
$input-invalid-border-color: $color-crimson-red;